<h2>Contact Us</h2>
<p>
Stephanie Wankowicz, Ph.D. <br>
Assistant Professor <br>
Vanderbilt University <br>
Molecular Physiology and Biophysics <br>
Computer Science <br>
Biochemistry <br>
Center for Applied AI in Protein Dynamics <br>
Center for Structural Biology <br>
<br>
email: <a href="mailto:stephanie@wankowiczlab.com">stephanie@wankowiczlab.com</a> <br>
<br>
</p>

<p>
 <h3> Interested in joining the Wankowicz lab? </h3>
 We welcome applicants from <b>all</b> backgrounds.<br>
 See information about positions on our <a href="{{ site.url }}/join">Join</a> page.</b><br>
<p>

</p>

