<h2>Contact Us</h2>
<p>
Stephanie Wankowicz, Ph.D. <br>
Assistant Professor <br>
Vanderbilt University School of Medicine Basic Sciences<br>
Molecular Physiology and Biophysics <br>
Center for AI in Protein Dynamics <br>
Center for Structural Biology <br>
<br>
email: <a href="mailto:mullane.stephanie@gmail.com">mullane.stephanie@gmail.com</a> <br>
<br>
</p>

<p>
 <h3> Interested in joining the Wankowicz lab? </h3>
 We are hiring at all levels! <br>
 We welcome applicants from <b>all</b> backgrounds.<br>
 Send Stephanie an <a href="mailto:mullane.stephanie@gmail.com">email</a> with your CV and the area of the lab you would like to work in.. <br>
<p>

</p>

