{% include header.html %}
<style>
  body {
    position: relative;
    background-image: url('/static/img/other/background_homepage.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #B8860B; /* Dark gold color */
    margin: 0;
    padding: 0;
  }
  .content {
    font-size: 3em; 
    padding: 20px;
    position: relative;
    z-index: 2;
  }
</style>

<div class="container px-2" style="max-width: 100%;">
    <div class="row">
        <div class="col-sm-8">
            {{ content }}
        </div>
        <div class="col">
            {% include contact_sidebar.html %}
        </div> 
    </div>
</div>
{% include footer.html %}
